body{
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 2%;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 50px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 42%;
    width:min-content;
}

#increment-btn{
    background-color:  rgb(236, 123, 123);
    color: white ;
    padding: 10px;
    font-size: 30px;
    border-radius: 10%;
    /* width: max-content; */
}

#increment-btn:hover{
    background-color: rgb(190, 231, 190);
    color: black; 
    scale: 0.9;
}

#save-btn{
    background-color:  rgb(236, 123, 123);
    color: white ;
    padding: 10px;
    font-size: 30px;
    border-radius: 10%;
    margin-top: 1%;
    /* width: max-content; */
}

#save-btn:hover{
    
    background-color: rgb(190, 231, 190);
    color: black; 
    scale: 0.9;
}

p{
    font-size: 25px;
    margin-top: 4%;
    font-weight:500;
}